/*Hide scrollbar in browser*/
.feed::-webkit-scrollbar {
    display: none;
}

.feed {
    flex: 0.5;
    border-right: 1px solid var(--twitter-background);
    
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.feed__header {
    border-bottom: 1px solid var(--twitter-background);
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
}

.feed__refreshIcon {
    margin-left: auto !important;
    margin-right: 1.25rem !important;
    margin-top: 1rem !important;
    height: 2rem !important;
    width: 2rem !important;
    cursor: pointer !important;
    transition-property: all !important;
    transition-duration: 500ms !important;
    transition-timing-function: ease-out !important;
    color: var(--twitter-color) !important;
}

.feed__refreshIcon:hover {
    transform: rotate(180deg) !important;
}

.feed__refreshIcon:active {
    transform: scale(1.25) !important;
}

.feed__home {
    font-size: 1.5rem;
    font-weight: bold;
}