.tweetBox {
    display: flex;
    border-bottom: 1px solid var(--twitter-background);
    justify-content: space-between;
    padding: 1.25rem;
}

.tweetBox > form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.tweetBox__input {
    height: 6rem;
    width: 100%;
    font-size: 1.25rem;
    border: none;
    outline: none;
}

.tweetBox_input::placeholder {
    font-size: 1.25rem;
}

.tweetBox__input > input{
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
}

.tweetBox__profilepic {
    margin-top: 1rem;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.tweetBox__tweetButton {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px !important;
    height: 40px !important;
    margin-left: auto !important;
}

.tweetBox__icons {
    display: flex;
}

.tweetBox__icons > * {
    margin-right: 0.5rem;
    color: var(--twitter-color);
    height: 1.5rem; 
    width: 1.5rem;
    cursor: pointer; 
    transition-property: transform; 
    transition-duration: 150ms; 
    transition-timing-function: ease-out; 
}

.tweetBox__icons > *:hover {
    transform: scale(1.5);
}

.tweetBox__icons > *:last-child {
    margin-right: 0;
}

.tweetBox__under {
    display: flex;
    align-items: center;
}

.tweetBox__group {
    display: flex;
    flex: 1;
    align-items: center;
    padding-left: 2px;
}

.tweetBox__form {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.tweetBox__media {
    display: flex;
    flex-wrap: wrap;
  }
  
  .tweetBox__media img,
  .tweetBox__media video {
    flex: 0 0 calc(25% - 8px);
    margin: 4px;
    max-height: 150px;
    object-fit: cover;
  }



